<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="hero">
    <! div starts>
    <nav>
        <img src="/static/images/menu.png" class="menu-img">s
        <img src="/static/images/logo.png" class="logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Lastest</a></li>
            <li><a href="">Modern</a></li>
            <li><a href="/about_us">About-Us </a></li>
            <li><a href="/sign_up">Sign-Up</a></li>
            
        </ul>
    
    </nav>
    <div class="lamp-container">
        <img src="static/images/lamp.png" class="lamp">
        <img src="static/images/light.png" class="light">
    </div>
    <div class="text-container">
        <h2>About-Us</h2>
        <br>
        <p>If an ecommerce business were to bore you like this on their website, you wouldn’t even have to come up with an excuse to escape to the bathroom – you could just click off the page and be done. And that’s exactly what uninspired customers will do. 
            
            91% of organizations worldwide use content marketing, but few of those organizations are using it as effectively as they could. If there’s a single crucial place to make sure your brand’s content is top notch, it’s on your About Us page. For customers, the About Us page is a one-stop introduction to your business, and there are plenty of expectations to exceed. </p>
        <a href="">Check All Collection</a>
    </div>

</div>
    
</body>
</html>