<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="hero">
    <! div starts>
    <nav>
        <img src="/static/images/menu.png" class="menu-img">s
        <img src="/static/images/logo.png" class="logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Lastest</a></li>
            <li><a href="">Modern</a></li>
            <li><a href="/about_us">About-Us </a></li>
            <li><a href="/sign_up">Sign-Up</a></li>
            
        </ul>
    
    </nav>
    <div class="lamp-container">
        <img src="/static/images/lamp.png" class="lamp">
        <img src="/static/images/light.png" class="light">
    </div>
    <div class="text-container">
        <h2>Sign-Up</h2>
        <br>
        <form method="post" action="{%url 'sign_up'%}" >
            {% csrf_token %}
            <p>
                <label for="fullname">First Name </label>
                <input type="text" name="First_Name" placeholder="Rounit" required />
            </p>
            <br>
            <p>
                <label for="lastname">Last Name</label>
                <input type="text" name="Last_Name" placeholder="Singh" required />
            </p>
            <br>

            <p>
                <label for="email">Email Id</label>
                <input type="email" name="Email" placeholder="sitraj45@gmail" required />
            </p>
            <br>

            <p>
                <label for="password">Password</label>
                <input type="password" name="Password" placeholder="atleast 8 character" required />
            </p>
            <br>

            <p>
                <input type="submit" name="Submit" value="Create Account" />
            </p>
            <br>
        </form>
    </div>

</div>
    
</body>
</html>